<script>
  $(function(){
    $(".lessons").sortable({
      update: function( event, ui ) {
        $.ajax({
          method: "PUT",
          url: ui.item.data('update-url'),
          dataType: "json",
          data: { lesson: { row_order_position: ui.item.index() } }
        });
    }
    });

    $(".sections").sortable({
      update: function( event, ui ) {
        $.ajax({
          method: "PUT",
          url: ui.item.data('update-url'),
          dataType: "json",
          data: { section: { row_order_position: ui.item.index() } }
        });
    }
    });

    $(".new-lesson-button").click(function(){
      var lessonUrl = $(event.target).data('lesson-url');
      $('#newLessonForm').attr('action', lessonUrl);
    })

  })
</script>

<br class="clear" />
<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <h1><%= current_course.title %></h1>
  <br class="clear" />
  <%= image_tag current_course.image.url(:large), :class=>"img-responsive center-block" %>
  <br class="clear" />
  <hr />
  <%= link_to 'Preview As Student', course_path(current_course), :class => 'btn btn-warning pull-right' %>
  <br class="clear"/>

  <h3>Sections</h3>
  <br class="clear" />
  <div class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <div class="section" data-update-url=<%= instructor_section_path(section) %>>
        <div class="col-xs-10">
          <h3><i class="fa fa-ellipsis-v fa-x3"></i>&nbsp;&nbsp;&nbsp;&nbsp;<%= section.title %></h3>
        </div>
        <div class="col-xs-2">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
            Add a Lesson
          </button>

          <!-- Modal -->
          <div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="newLessonModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="newLessonModalLabel">Add a new lesson</h4>
                </div>
                <%= simple_form_for @lesson, :url => '#', html: {id: 'newLessonForm' } do |f| %>
                  <div class="modal-body">
                      <%= f.input :title, :label => "Lesson Title", :placeholder => "e.g. [Lesson 1] The origin of calculus" %>
                      <br />
                      <%= f.input :transcript %>
                      <br />
                      <%= f.input :video %>
                      <br />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <%=f.submit 'Add', :class => "btn btn-success" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <br class="clear" />
        <br />
        <div class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <div class="lesson text-center" style="color: white" data-update-url=<%= instructor_lesson_path(lesson) %>>
              <br />
              <h3 style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-ellipsis-v fa-x3"></i></h3>
              <h3><%= lesson.title %></h3>
              -
              <h4><%= lesson.transcript %></h4>
              <br class="clear" />
              <br />
            </div>
          <% end %>
        </div>
        <br />
      </div>
    <% end %>
  </div>
  <br />

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newSectionModal">
    Add Section
  </button>

  <!-- Modal -->
  <div class="modal fade" id="newSectionModal" tabindex="-1" role="dialog" aria-labelledby="newSectionModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newSectionModalLabel">Add a new section</h4>
        </div>
        <%= simple_form_for @section, :url => instructor_course_sections_path(current_course) do |f| %>
          <div class="modal-body">
              <%= f.input :title, :label => "Section Title", :placeholder => "e.g. Week 1 / Chapter 1 / Part 1" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%=f.submit 'Add', :class => "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>
