<br />
<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <br />
  <h1>What I'm Learning</h1>
  <% current_user.enrolled_courses.each do |course| %>
    <div class="col-xs-6">
      <div class="lesson" style="background: #53A6C2; height: auto">
        <%= link_to course_path(course) do %>
          <h3 class="text-center"><%= course.title %></h3>
          <%= image_tag course.image, class: 'img-responsive' %>
          More...
        <% end %>
      </div>
    </div>
  <% end %>
  <br class="clear" />
  <hr />
  <br />
  <h1>What I'm Teaching</h1>
    <br />
  <% current_user.courses.each do |course| %>
    <div class="col-xs-4">
      <div class="lesson" style="background: #53A6C2; height: auto">
        <%= link_to course_path(course) do %>
          <h3 class="text-center"><%= course.title %></h3>
          <%= image_tag course.image, class: 'img-responsive' %>
          More...
        <% end %>
      </div>
    </div>
  <% end %>
  <br class="clear" />
</div>
