<script src="app/assets/javascripts/jquery.countdown.min.js"></script>
<br />
<div class="card-tallbox col-xs-10 col-xs-offset-1">
  <br />
  <h1 class="text-center"><%= @course.title %></h1>
  <br />
  <%= image_tag @course.image.url(:large), :class=>"img-responsive" %>
  <br />
  <br class="clear"/>

  <div class="container-fluid">
    <h3>Course Description: <%= @course.description %></h3>
    <br />
  </div>

  <div class="col-sm-4 col-xs-12">
    <h3>
      <% if current_user.enrolled_in?(@course) %>
        <div class="label label-info">You Are Enrolled!</div>
      <% else %>
        <% if @course.free? %>
          <%= link_to  'Enroll for FREE', course_enrollments_path(@course), method: :post, :class => "btn btn-primary" %>
        <% else %>
          <div class="countdown">
            Limited Time Only!
              <h1 id="clock"></h1>
                <script>
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!
                var yyyy = today.getFullYear();
                if(dd<10) {
                    dd='0'+dd
                }
                if(mm<10) {
                    mm='0'+mm
                }
                today = yyyy+'/'+mm+'/'+dd;

                $('#clock').countdown(today + ' 19:30:00')
                .on('update.countdown', function(event) {
                   var format = '%H:%M:%S';
                   if(event.offset.days > 0) {
                     format = '%-d day%!d ' + format;
                  }
                  if(event.offset.weeks > 0) {
                   format = '%-w week%!w ' + format;
                  }
                  $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function(event) {
                  $(this).html('This offer has expired!')
                   .parent().addClass('disabled');
                  $('#card_payment').hide();
                });
                </script>
          </div>
          <%= form_tag course_enrollments_path(@course) do %>
            <article id="card_payment">
              <% if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>
              <label class="amount">
                <span>Price: <%= number_to_currency(@course.price, :unit => "£") %></span>
              </label>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= @course.title %> (<%= number_to_currency @course.price %>)"
                    data-amount="<%= @course.price.to_i * 100 %>"
                    data-currency="gbp"
                    data-locale="auto"></script>
            </article>
          <% end %>
        <% end %>
      <% end %>
      <br class="clear"/>
      <br />
      by <% if @course.user_id.nil? %>
          Anonymous
        <% else %>
          <%= @course.user.username %>
        <% end %>
    </h3>
    <br />
    <% if current_user && @course.user == current_user %>
      <%= link_to 'Administer Your Course', edit_instructor_course_path(@course), :class => "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-sm-8 col-xs-12">
      <% @course.sections.rank(:row_order).each do |section| %>
        <br />
        <div class="section text-center">
          <h3><%= section.title %></h3>
          <br class="clear" />
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <%= link_to lesson_path(lesson) do %>
              <div class="col-xs-12 col-sm-6">
                <div class="lesson">
                    <h3 style="color: white"><%= lesson.title %></h3>
                </div>
              </div>
            <% end %>
          <% end %>
          <br class="clear"/>
          <br />
        </div>
      <% end %>
    <br class="clear" />
  </div>
  <br class="clear"/>
  <br />
  <br />
</div>
